# Build outputs
**/build/
**/target/
**/.gradle/
**/.idea/
**/*.class

# Environment / secrets
.env

# DS Service secrets
dsService/src/.env
**/dist/
**/__pycache__/
**/*.pyc
**/.venv/
**/dsenv/

# Logs
*.log